KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/descriptor_tables.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/handlers.o \
$(ARCHDIR)/page.o \
$(ARCHDIR)/pmm.o \
$(ARCHDIR)/vmm.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/a20.o \
